<!DOCTYPE html>
<html>
  <head>
     <title>{{title}}</title>
  </head>
   
  <style>
  table, th, td {
    border:1px solid black;
  }
  </style>
  <body>
  
  <h2>Departement</h2>
  
  <table style="inline-size:50%">
    <tr>
      <th>Departement Code</th>
      <th>Departement Name</th>
    </tr>
    <tr *ngFor="let item of data" >
      <td>{{item.departementCode}}</td>
      <td>{{item.name}}</td>   
    </tr>
  </table>
    <br>
    <br>
    <h2>Student</h2>
    <table style="inline-size:50%">
    <tr>
      <th>Student name</th>
      <th>Departement code</th>
    </tr>
    <tr *ngFor="let item1 of data1" >
      <td>{{item1.name}}</td>
      <td>{{item1.departementCode}}</td>   
    </tr>
  </table>
 
  <br>
  <br>

  <div class="container mt-5">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        [(ngModel)]="filterTerm"
      />
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Departement Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data1 | filter: filterTerm">
          <td>{{user.name}}</td>
          <td>{{user.departementCode}}</td>  
        </tr>
      </tbody>
    </table>
  </div>
  

  </body>
</html>